<h2>CLient page</h2>
    <ul>
        <li>Name: <%= @client.name %></li>
        <li>Phone: <%= @client.name %></li>
        <li>Date and time of an appointment: <%= @client.datestamp %></li>
        <li>Barber: <%= @client.barber %></li>
        <li>Color: <%= @client.color %></li>
    </ul>